<div *ngIf="point">
  <h2>{{point.name | uppercase}} Details</h2>
  <div><span>id: </span>{{point.id}}</div>
  <div>
    <label for="point-name">Point name: </label>
    <input id="point-name" [(ngModel)]="point.name" placeholder="Point name"/>
    <input id="point-power" [(ngModel)]="point.power" placeholder="Point power"/>
    <input id="point-alterEgo" [(ngModel)]="point.alterEgo" placeholder="Point alterEgo"/>
    <input id="point-latitude" [(ngModel)]="point.latitude1" placeholder="Point latitude"/>
    <input id="point-longitude" [(ngModel)]="point.longitude" placeholder="Point longitude"/>
    <input id="point-description" [(ngModel)]="point.description" placeholder="Point description"/>
    <input id="point-point_adress" [(ngModel)]="point.point_adress" placeholder="Point point_adress"/>
    <input id="point-phone_number" [(ngModel)]="point.phone_number" placeholder="Point phone_number"/>
    <input id="point-link" [(ngModel)]="point.link" placeholder="Point link"/>
    <input id="point-district" [(ngModel)]="point.district" placeholder="Point district"/>
    <input id="point-regions" [(ngModel)]="point.regions" placeholder="Point regions"/>

  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
